altgraph==0.17.4
et-xmlfile==1.1.0
importlib_metadata==8.4.0
macholib==1.16.3
numpy==1.24.4
openpyxl==3.1.5
packaging==24.1
pandas==2.0.3
pillow==10.4.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tzdata==2024.1
zipp==3.20.0
